{% load staticfiles %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8" />
    <title>Myhro.info URL Shortener</title>
    <link rel="stylesheet" type="text/css" href="{% static "style.css" %}"/>
</head>
<body>
    <p><a href="{% url "home" %}"><img src="{% static "logo.jpg" %}" alt="Myhro.info URL Shortener" /></a></p>
    {% block "content" %}
    {% endblock %}
</body>
</html>
