{% extends 'base.html' %}
{% block 'content' %}
<p>URL original: <a href="{{ orig_url }}">{{ orig_url }}</a></p>
<p>URL encurtada: <a href="{{ new_url }}">{{ new_url }}</a></p>
<p>
    Original: {{ orig_size }} caracteres.<br />
    Encurtada: {{ new_size }} caracteres.<br />
    {% if new_size < orig_size %}
        {{ diff_chars }} caracteres menor. {{ diff_percent }}% mais curta.
    {% elif new_size > orig_size %}
        {{ diff_chars }} caracteres maior. {{ diff_percent }}% mais longa.
    {% else %}
        Ambas possuem o mesmo número de caracteres.
    {% endif %}
</p>
{% endblock %}
