{% extends 'base.html' %}
{% block 'content' %}
<p>Original URL: <a href="{{ orig_url }}">{{ orig_url }}</a></p>
<p>Shortened URL: <a href="{{ new_url }}">{{ new_url }}</a></p>
<p>
    Original: {{ orig_size }} characters.<br />
    Shortened: {{ new_size }} characters.<br />
    {% if new_size < orig_size %}
        {{ diff_chars }} less characters. {{ diff_percent }}% shorter.
    {% elif new_size > orig_size %}
        {{ diff_chars }} more characters. {{ diff_percent }}% longer.
    {% else %}
        Both have the same length.
    {% endif %}
</p>
{% endblock %}
